/* Latte */
:root {
    --color-text-primary: #4c4f69; /* Text */
    --color-text-secondary: #5c5f77; /* Subtext1 */
    --color-text-tertiary: #6c6f85; /* Subtext0 */
    --color-text-inversion: #eff1f5; /* Base */
    --color-shape-primary: #7c7f93; /* Overlay2 */
    --color-shape-secondary: #ccd0da; /* Surface0 */
    --color-shape-tertiary: #ccd0da; /* Surface0 */
    --color-shape-highlight-medium: rgba(76, 79, 105, 0.08); /* Text */
    --color-shape-highlight-light: rgba(76, 79, 105, 0.04); /* Text */
    --color-control-accent: #8839ef; /* Mauve */
    --color-control-active: #1e66f5; /* Blue */
    --color-control-inactive: #dce0e8; /* Crust */
    --color-control-bg: #eff1f5; /* Base */
    --color-bg-primary: #eff1f5; /* Base */
    --color-bg-loader: rgba(188, 192, 204, 0.7); /* Surface1 */
    --color-system-accent-100: #df8e1d; /* Yellow */
    --color-system-accent-50: #fe640b; /* Peach */
    --color-system-accent-25: #dd7878; /* Flamingo */
    --color-system-selection: rgba(4, 165, 229, 0.15); /* Sky */
    --color-system-drop-zone: rgba(220, 138, 120, 0.25); /* Rosewater */
    --color-yellow: #df8e1d; /* Yellow */
    --color-orange: #fe640b; /* Peach */
    --color-red: #d20f39; /* Red */
    --color-pink: #ea76cb; /* Pink */
    --color-purple: #8839ef; /* Mauve */
    --color-blue: #1e66f5; /* Blue */
    --color-ice: #04a5e5; /* Sky */
    --color-teal: #179299; /* Teal */
    --color-lime: #40a02b; /* Green */
    --color-green: #66B395; /* Original value for Green */
}

/* Mocha */
html.themeDark {
    --color-text-primary: #cdd6f4; /* Text */
    --color-text-secondary: #bac2de; /* Subtext1 */
    --color-text-tertiary: #a6adc8; /* Subtext0 */
    --color-text-inversion: #1e1e2e; /* Base */
    --color-shape-primary: #9399b2; /* Overlay2 */
    --color-shape-secondary: #313244; /* Surface0 */
    --color-shape-tertiary: #313244; /* Surface0 */
    --color-shape-highlight-medium: rgba(147, 153, 178, 0.08); /* Overlay2 */
    --color-shape-highlight-light: rgba(147, 153, 178, 0.04); /* Overlay2 */
    --color-control-accent: #cba6f7; /* Mauve */
    --color-control-active: #89b4fa; /* Blue */
    --color-control-inactive: #11111b; /* Crust */
    --color-control-bg: #1e1e2e; /* Base */
    --color-bg-primary: #1e1e2e; /* Base */
    --color-bg-loader: rgba(17, 17, 27, 0.7); /* Crust */
    --color-system-accent-100: #f9e2af; /* Yellow */
    --color-system-accent-50: #fab387; /* Peach */
    --color-system-accent-25: #f2cdcd; /* Flamingo */
    --color-system-selection: rgba(137, 220, 235, 0.15); /* Sky */
    --color-system-drop-zone: rgba(245, 224, 220, 0.25); /* Rosewater */
    --color-yellow: #f9e2af; /* Yellow */
    --color-orange: #fab387; /* Peach */
    --color-red: #f38ba8; /* Red */
    --color-pink: #f5c2e7; /* Pink */
    --color-purple: #cba6f7; /* Mauve */
    --color-blue: #89b4fa; /* Blue */
    --color-ice: #89dceb; /* Sky */
    --color-teal: #94e2d5; /* Teal */
    --color-lime: #a6e3a1; /* Green */
    --color-green: #a6e3a1; /* Green */
}
